.body {
    background-color: #f3eadd;
    color: white;
    padding: 10px;
    font-family: Sans-Serif;
    text-align: center;
    margin-right: 30opx;
  }
  .bigblue {
    color: DodgerBlue;
    padding: 10px;
    font-family: Sans-Serif;
    text-align: center;
    margin-right: 30px;
  }