.register-background {
  min-height: 50vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkJuhs3xtJ0V94n2PYF04yJ7JqFJ3Co7odWQ&s") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.register-card {
  background-color: #fffdfd;
  border-radius: 15px;
  border: none;
}

.register-card .form-label {
  font-weight: 400;
}

.register-card input,
.register-card select {
  border-radius: 4px;
}
